
@font-face {
    font-family:"Lydian BT";
    src:url("Lydian BT.woff2") format("woff2"),url("Lydian BT.woff") format("woff"),url("Lydian BT.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        