
@font-face {
    font-family:"Lydian Italic BT";
    src:url("Lydian Italic BT.woff2") format("woff2"),url("Lydian Italic BT.woff") format("woff"),url("Lydian Italic BT.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        